<html>

  <head>
    <title><%= @page_title %></title>
  </head>

  <body>

    <ul>
      <li><a href="">Menu Item 1</a></li>
      <li><a href="">Menu Item 2</a></li>
      <li><a href="">Menu Item 3</a></li>
    </ul>

    <h1>I am the layout for <%= @page_title %></h1>

    <%= yield %>

  </body>

</html>
